<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <style>
      .progress-radial {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #662583;
        margin-top: 12px;
      }

      .progress-radial .overlay {
          position: absolute;
          width: 90px;
          height: 90px;
          background-color: #f2f2f2;
          border-radius: 50%;
          margin-left: 5px;
          margin-top: 5px;
          text-align: center;
          line-height: 90px;
          font-size: 24px;
      }
      .progress-0 { background-image: linear-gradient(90deg, #d5d6d7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-5 { background-image: linear-gradient(90deg, #d5d6d7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-10 { background-image: linear-gradient(90deg, #d5d6d7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-15 { background-image: linear-gradient(90deg, #d5d6d7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-20 { background-image: linear-gradient(90deg, #d5d6d7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-25 { background-image: linear-gradient(90deg, #d5d6d7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-30 { background-image: linear-gradient(90deg, #d5d6d7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-35 { background-image: linear-gradient(90deg, #d5d6d7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-40 { background-image: linear-gradient(90deg, #d5d6d7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-45 { background-image: linear-gradient(90deg, #d5d6d7 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-50 { background-image: linear-gradient(-90deg, #662583 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-55 { background-image: linear-gradient(-72deg, #662583 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-60 { background-image: linear-gradient(-54deg, #662583 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-65 { background-image: linear-gradient(-36deg, #662583 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-70 { background-image: linear-gradient(-18deg, #662583 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-75 { background-image: linear-gradient(0deg, #662583 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-80 { background-image: linear-gradient(18deg, #662583 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-85 { background-image: linear-gradient(36deg, #662583 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-90 { background-image: linear-gradient(54deg, #662583 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-95 { background-image: linear-gradient(72deg, #662583 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }
      .progress-100 { background-image: linear-gradient(90deg, #662583 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #662583 50%, #d5d6d7 50%, #d5d6d7); }

      #logo img {width: 100%}
      #map {
        height: 100%;
        width: 80%;
      }
      #sidebar {
        width: 20%;
        float: right;
        box-sizing: border-box;
        height: 100%;
        position: relative;

        background: #f2f2f2;

        border-left: 1px solid #dedede;
      }

      .sidebar-content {
        padding: 24px;
      }

      .distance-label {
        display: block;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.09em;
        opacity: 0.6;
        font-weight: 300;
        margin-bottom: 0px;
      }

      .distance-km {
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 0.09em;
        font-weight: 400;
      }

      .distance-left {
        font-size: 14px;
        letter-spacing: 0.05em;
        font-weight: 400;
        opacity: 0.5;
      }

      .value-wrapper {
        margin-bottom: 24px;
      }

      .value {
        font-size: 54px;
        margin-bottom: 24px;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Arial,Sans-serif;
        font-size: 24px;
        overflow-y: hidden;

        font-family: 'Rubik', sans-serif;
      }

      div.aw-widget-current-inner div.aw-widget-content {
        border-width: 1px !important;
      }

      .weather-widget {
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;

      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
  </head>
  <body>
    <div id="sidebar">
      <div id="logo"><img src="/img/logo.svg" /></div>
      <div class="weather-widget">
        <a href="https://www.accuweather.com/en/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
        </a><div id="awcc1509662962731" class="aw-widget-current"  data-locationkey="349727" data-unit="c" data-language="en-us" data-useip="false" data-uid="awcc1509662962731"></div>
        <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
      </div>

      <div class="sidebar-content">
        <span class="distance-label">Distance</span>
        <div class="value-wrapper">
          <span class="value" id="distance">{{pathLength}}</span><span class="distance-km">km</span> <span class="distance-left">of 42.195km</span>
        </div>

        <span class="distance-label">Completed</span>
        <div class="progress-radial progress-10" id="progress">
          <div class="overlay" id="perc">{{pathPerc}} %</div>
        </div>
      </div>

      <!--<span class="label">Time:</span>
      <span class="value" id="time">{{time}}</span>-->

    </div>

    <div id="map"></div>

    <script type= 'text/javascript' src='/NYMCoords.js'></script>

    <script>

      // API Call to API server to fetch the points

      function getPoints() {
        var xhttp = new XMLHttpRequest();
        var APIURL = "https://peaceful-woodland-37987.herokuapp.com/path/" + "{{path}}"
        // var APIURL = "http://localhost:3000/path/" + "{{path}}"
        xhttp.open("GET", APIURL, false);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        var points = JSON.parse(xhttp.responseText);
        return points;
      }


      // This example creates a 2-pixel-wide red polyline showing the path made up
      // of points we fetch from an API server
      // The original code was taken from Google Maps APIs example for drawing polylines
      // https://developers.google.com/maps/documentation/javascript/examples/polyline-simple

      function initMap() {

        var runCoordinates = getPoints();

        var lastCoord = runCoordinates[runCoordinates.length -1];
        //Centered in NY
        //var lastCoord = {lng: -73.982921, lat: 40.677579}

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: lastCoord,
          styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#d5d6d7"},{"visibility":"on"}]}],
          mapTypeId: 'terrain'
        });

        var NYMRoute = new google.maps.Polyline({
          path: NYMCoords,
          geodesic: true,
          strokeColor: '#009df6',
          strokeOpacity: 1.0,
          strokeWeight: 5
        });

        var runPath = new google.maps.Polyline({
          path: runCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        function calcDist() {
          var pathLength = google.maps.geometry.spherical.computeLength(runPath.getPath())/1000;
          pathLength = pathLength.toFixed(2);
          pathPerc = (pathLength / 42.195) * 100;
          pathPerc = pathPerc.toFixed(2)
          document.getElementById("distance").innerHTML = pathLength;
          document.getElementById("perc").innerHTML = pathPerc +'%';
          document.getElementById("progress").setAttribute("class", "progress-radial progress-"+ Math.round(pathPerc/5)*5); 
        }

        NYMRoute.setMap(map);
        runPath.setMap(map);
        calcDist();

        setInterval(function(){
          runCoordinates = getPoints();
          runPath.setPath(runCoordinates);
          runPath.setMap(map);
          calcDist();
        }, 10000);
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPMjXqG1T7gD7cxd_gKNwgYJfSSaZ4vAk&libraries=geometry&callback=initMap">
    </script>
  </body>
</html>
