<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #logo {margin: -15px -10px 10px -10px}
      #logo img {width: 100%}
      #map {
        height: 100%;
        width: 80%;
      }
      #sidebar {
        width: 20%;
        float: right;
        box-sizing: border-box;
        padding: 10px;
      }
      #sidebar>div {
        padding: 5px 0;
      }
      #sidebar .label {
        display: inline-block;
        width: 100px;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Arial,Sans-serif;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div id="sidebar">
      <div id="logo"><img src="http://www.funkcija-13.hr/img/maratonac.png" /></div>
      <div>
        <span class="label">NY local time:</span>
        <span class="value" id="clock">{{clock}}</span>
      </div>
      <div>
        <span class="label">Distance:</span>
        <span class="value" id="distance">{{pathLength}}</span>
        <span class="label">meters</span>
      </div>
      <div>
        <span class="label">Time:</span>
        <span class="value" id="time">{{time}}</span>
      </div>
    </div>
    <div id="map"></div>
    <script type= 'text/javascript' src='/NYMCoords.js'></script>

    <script>

      // API Call to API server to fetch the points

      function getPoints() {
        var xhttp = new XMLHttpRequest();
        // var APIURL = "https://peaceful-woodland-37987.herokuapp.com/path/" + "{{path}}"
        var APIURL = "http://localhost:3000/path/" + "{{path}}"
        xhttp.open("GET", APIURL, false);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        var points = JSON.parse(xhttp.responseText);
        return points;
      }


      // This example creates a 2-pixel-wide red polyline showing the path made up
      // of points we fetch from an API server
      // The original code was taken from Google Maps APIs example for drawing polylines
      // https://developers.google.com/maps/documentation/javascript/examples/polyline-simple

      function initMap() {

        var runCoordinates = getPoints();

        var lastCoord = runCoordinates[runCoordinates.length -1];

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: lastCoord,
          mapTypeId: 'terrain'
        });

        var NYMRoute = new google.maps.Polyline({
          path: NYMCoords,
          geodesic: true,
          strokeColor: '#0037ff',
          strokeOpacity: 1.0,
          strokeWeight: 10
        });

        var runPath = new google.maps.Polyline({
          path: runCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 4
        });

        function calcDist() {
          var pathLength = google.maps.geometry.spherical.computeLength(runPath.getPath());
          pathLength = pathLength.toFixed(2);
          document.getElementById("distance").innerHTML = pathLength;
        }

        NYMRoute.setMap(map);
        runPath.setMap(map);
        calcDist();

        setInterval(function(){
          runCoordinates = getPoints();
          runPath.setPath(runCoordinates);
          runPath.setMap(map);
          calcDist();
        }, 10000);
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPMjXqG1T7gD7cxd_gKNwgYJfSSaZ4vAk&libraries=geometry&callback=initMap">
    </script>
  </body>
</html>
