<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        width: 70%;
      }
      #sidebar {
        width: 30%;
        float: right;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="sidebar">
      <div>
        <span class="label">NY local time:</span>
        <span class="value">{{clock}}</span>
      </div>
      <div>
        <span class="label">Distance:</span>
        <span class="value">{{distance}}</span>
      </div>
      <div>
        <span class="label">Time:</span>
        <span class="value">{{time}}</span>
      </div>
    </div>
    <div id="map"></div>
    <script>

      // API Call to API server to fetch the points

      function getPoints() {
        var xhttp = new XMLHttpRequest();
        var APIURL = "https://peaceful-woodland-37987.herokuapp.com/path/" + "{{path}}"
        // var APIURL = "http://localhost:3000/path" + "{{path}}"
        xhttp.open("GET", APIURL, false);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        var points = JSON.parse(xhttp.responseText);
        return points;
      }

      // This example creates a 2-pixel-wide red polyline showing the path made up
      // of points we fetch from an API server
      // The original code was taken from Google Maps APIs example for drawing polylines
      // https://developers.google.com/maps/documentation/javascript/examples/polyline-simple

        function initMap() {

        var runCoordinates = getPoints();

        var lastCoord = runCoordinates[runCoordinates.length -1];

        var NYMRoute = [
          {lat: 40.602452, lng: -74.057636},
          {lat: 40.610434, lng: -74.032574},
          {lat: 40.616396, lng: -74.026480},
          {lat: 40.616982, lng: -74.027510},
          {lat: 40.614897, lng: -74.029527},
          {lat: 40.615777, lng: -74.031243},
          {lat: 40.636785, lng: -74.022703},
          {lat: 40.665373, lng: -73.993049},
          {lat: 40.677579, lng: -73.982921},
          {lat: 40.684869, lng: -73.978114},
          {lat: 40.685105, lng: -73.977942},
          {lat: 40.686821, lng: -73.978221},
          {lat: 40.689425, lng: -73.955154},
          {lat: 40.700845, lng: -73.957472},
          {lat: 40.707124, lng: -73.964510},
          {lat: 40.710475, lng: -73.963888},
          {lat: 40.714501, lng: -73.961302},
          {lat: 40.720599, lng: -73.954757},
          {lat: 40.721404, lng: -73.956056},
          {lat: 40.722470, lng: -73.954886},
          {lat: 40.723519, lng: -73.951689},
          {lat: 40.724120, lng: -73.951013},
          {lat: 40.728820, lng: -73.953663},
          {lat: 40.730194, lng: -73.954253},
          {lat: 40.730470, lng: -73.951528},
          {lat: 40.737860, lng: -73.953052},
          {lat: 40.743209, lng: -73.951442},
          {lat: 40.741990, lng: -73.953974},
          {lat: 40.742055, lng: -73.954167},
          {lat: 40.742599, lng: -73.953964},
          {lat: 40.742990, lng: -73.954103},
          {lat: 40.748330, lng: -73.952268},
          {lat: 40.749622, lng: -73.951077},
          {lat: 40.748866, lng: -73.947140},
          {lat: 40.748110, lng: -73.947430},
          {lat: 40.747436, lng: -73.943750},
          {lat: 40.747704, lng: -73.943213},
          {lat: 40.750646, lng: -73.940552},
          {lat: 40.750980, lng: -73.940853},
          {lat: 40.759659, lng: -73.960819},
          {lat: 40.760342, lng: -73.962922},
          {lat: 40.760244, lng: -73.963126},
          {lat: 40.760114, lng: -73.963062},
          {lat: 40.759627, lng: -73.961999},
          {lat: 40.802489, lng: -73.930693},
          {lat: 40.805039, lng: -73.925993},
          {lat: 40.807232, lng: -73.924363},
          {lat: 40.808174, lng: -73.926487},
          {lat: 40.810058, lng: -73.925178},
          {lat: 40.811113, lng: -73.927367},
          {lat: 40.812640, lng: -73.929341},
          {lat: 40.813436, lng: -73.930779},
          {lat: 40.814085, lng: -73.932323},
          {lat: 40.814215, lng: -73.934340},
          {lat: 40.814800, lng: -73.936207},
          {lat: 40.812802, lng: -73.937666},
          {lat: 40.805737, lng: -73.942795},
          {lat: 40.806403, lng: -73.944426},
          {lat: 40.803918, lng: -73.946271},
          {lat: 40.803204, lng: -73.944640},
          {lat: 40.794367, lng: -73.951099},
          {lat: 40.784100, lng: -73.958523},
          {lat: 40.784230, lng: -73.958888},
          {lat: 40.781711, lng: -73.960819},
          {lat: 40.781581, lng: -73.961227},
          {lat: 40.781565, lng: -73.961699},
          {lat: 40.781614, lng: -73.962386},
          {lat: 40.781581, lng: -73.963008},
          {lat: 40.781354, lng: -73.963652},
          {lat: 40.780948, lng: -73.964210},
          {lat: 40.780265, lng: -73.964682},
          {lat: 40.779502, lng: -73.965154},
          {lat: 40.779095, lng: -73.965604},
          {lat: 40.778689, lng: -73.966162},
          {lat: 40.778218, lng: -73.966506},
          {lat: 40.776219, lng: -73.967342},
          {lat: 40.775862, lng: -73.967235},
          {lat: 40.775602, lng: -73.967342},
          {lat: 40.775439, lng: -73.967514},
          {lat: 40.775228, lng: -73.967922},
          {lat: 40.775049, lng: -73.968222},
          {lat: 40.774822, lng: -73.968544},
          {lat: 40.774448, lng: -73.968930},
          {lat: 40.774026, lng: -73.969145},
          {lat: 40.773522, lng: -73.969102},
          {lat: 40.773229, lng: -73.968887},
          {lat: 40.772742, lng: -73.968866},
          {lat: 40.772319, lng: -73.968995},
          {lat: 40.771783, lng: -73.969359},
          {lat: 40.771312, lng: -73.970175},
          {lat: 40.771003, lng: -73.970733},
          {lat: 40.770678, lng: -73.970926},
          {lat: 40.769963, lng: -73.971419},
          {lat: 40.769687, lng: -73.971827},
          {lat: 40.769394, lng: -73.972535},
          {lat: 40.768972, lng: -73.972900},
          {lat: 40.768387, lng: -73.973136},
          {lat: 40.767850, lng: -73.973157},
          {lat: 40.767477, lng: -73.973157},
          {lat: 40.767038, lng: -73.973007},
          {lat: 40.766209, lng: -73.972664},
          {lat: 40.765819, lng: -73.972728},
          {lat: 40.765591, lng: -73.972943},
          {lat: 40.765185, lng: -73.973179},
          {lat: 40.764633, lng: -73.973629},
          {lat: 40.767850, lng: -73.981333},
          {lat: 40.768062, lng: -73.981268},
          {lat: 40.768338, lng: -73.981290},
          {lat: 40.768484, lng: -73.980861},
          {lat: 40.768696, lng: -73.980367},
          {lat: 40.768874, lng: -73.979959},
          {lat: 40.769362, lng: -73.979895},
          {lat: 40.769752, lng: -73.979638},
          {lat: 40.770239, lng: -73.979166},
          {lat: 40.770711, lng: -73.978629},
          {lat: 40.771361, lng: -73.977685},
          {lat: 40.772108, lng: -73.976955},
          {lat: 40.772579, lng: -73.976655},
          {lat: 40.772807, lng: -73.976591}
        ];

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: lastCoord,
          mapTypeId: 'terrain'
        });

        var NYMRoute = new google.maps.Polyline({
          path: NYMRoute,
          geodesic: true,
          strokeColor: '#0037ff',
          strokeOpacity: 1.0,
          strokeWeight: 10
        });

        var runPath = new google.maps.Polyline({
          path: runCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 4
        });

        NYMRoute.setMap(map);
        runPath.setMap(map);
      }
      setInterval(function(){
        runCoordinates = getPoints();
        runPath.setPath(runCoordinates);
      }, 60000);
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPMjXqG1T7gD7cxd_gKNwgYJfSSaZ4vAk&callback=initMap">
    </script>
  </body>
</html>
